.table th a:after{
    content: "\2193";
    margin-left: 0.5em;
    font-size: 1.25em;
    opacity: 0;
}

.table th .asc:after{
    content: "\2191";
    opacity: 1;

}

.table th .desc:after{
    content: "\2193";
    opacity: 1;
}

.table th a:after{
    content: "\2193";
    margin-left: 0.5em;
    font-size: 1.25em;
    opacity: 0;
}

#image-list-pjax {

}

#image-list-pjax .image-list {
    position: relative;
}

#image-list-pjax .image-list .image {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px 5px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
}

#image-list-pjax .image-list .image img {
    position: relative;
    max-width: 100%;
}

#image-list-pjax .image-list .image a.delete-link {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: #f4f4f4;
    color: #444;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
}

#image-list-pjax .image-list .image a.delete-link:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
}

.select2-container--krajee .select2-selection__clear {
    color: #000;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    margin-right: -9px;
    opacity: 0.4;
    position: absolute;
    right: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    height: auto;
    margin-top: 0;
    padding-left: 0;
    /*padding-right: 0;*/
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 14px;
}

.btn-sm, .btn-group-sm > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.8;
    padding: 5px 10px;
}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
    border-radius: 0;
    float: left;
}

/**FIXED LEFT SIDEBAR TODO: FIX IT!!! **/
.main-sidebar, .left-side, .main-header .logo {
    position: fixed;
}

.fa.fa-angle-left.pull-right {
    bottom: -2px;
    float: right;
    margin: 0 0 0;
}

.select2-search__field {
    border: none;
}

.sidebar-menu li > a > .fa-angle-left, .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin: -17px 3px 0 0;
}

.main-sidebar{min-height:0;height:100%;}
.main-sidebar .sidebar{height:100%;overflow-y:auto;overflow-x:hidden;}

.content-wrapper, .right-side, .main-footer{margin-left:290px;}
.main-header .navbar{margin-left:290px;}
.main-sidebar, .left-side{width:290px;}
.main-header .logo{width:290px;}